@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


    html,
    body {
        background-color: #0E0E0A;
    }

    .faster-one {
        font-family: "Faster One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
    }

    .inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;

    }

    .interlight {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;

    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .ribbonbuttons {
        @apply m-4 h-10 bg-black rounded-lg text-center text-[#FAFF00] border-[#828282] border-2 shadow-lg shadow-black;
    }
}